:host {
	$scroll-size: 1rem;
	$min-week-height: 7rem;

	position: relative;
	height: 100%;

	.component-wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--offset);
		justify-content: space-between;
		height: 100%;
	}

	.header-bg {
		position: absolute;
		width: calc(100% - $scroll-size);
		height: $scroll-size;
		background-color: white;
	}

	.grid-wrapper {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		align-items: start;
		max-height: calc(100% - 2.75rem);
		margin-top: var(--offset);
		overflow-y: auto;

		.header-bg {
			position: absolute;
			top: var(--offset);
			height: 1rem;
			background-color: var(--red);
		}

		.header {
			position: sticky;
			top: 0;
			z-index: 1;
			padding: var(--offset-s) 0;
			font-weight: 500;
			text-align: center;
			background-color: var(--accent-50);
			border-top: 1px solid var(--light-gray);
			border-bottom: 1px solid var(--light-gray);

			&:first-of-type {
				border-left: 1px solid var(--light-gray);
				border-top-left-radius: var(--border-radius-xs);
			}

			&:nth-of-type(7) {
				border-right: 1px solid var(--light-gray);
				border-top-right-radius: var(--border-radius-xs);
			}
		}

		.week {
			position: relative;
			grid-column: 1 / 8;
			min-height: $min-week-height;
			.vacation {
				position: absolute;
				padding-left: var(--offset-s);
				color: var(--light-black);
				font-weight: 600;
				font-size: var(--font-size-xxs);
				line-height: var(--font-size);
				background-color: red;
				border-radius: var(--border-radius-xxxs);
			}
		}
	}
}
