@import 'mixins/colors-mixin';
@import 'mixins/common-mixin';

:host {
	$user-area: 3rem;
	$user-img: 2rem;

	.container {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.title {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		color: var(--light-black);
		font-weight: 500;
		font-size: var(--font-size-l);
	}

	.user {
		display: flex;
		align-items: center;
		height: $user-area;
		padding: var(--offset-xs);
		color: var(--light-black);
		background: rgba-color(light-gray, 0.1);
		border-radius: var(--border-radius-xs);

		&-img {
			@include flex-center;

			width: $user-img;
			height: $user-img;
			margin: 0 var(--offset-s) 0 var(--offset-xxxs);
			background: var(--black);
			border-radius: var(--border-radius-xs);
		}

		&-name {
			@include flex-center;

			font-weight: 500;
			font-size: var(--font-size-s);
		}

		&-logout {
			margin: var(--offset-xxxs);
		}
	}
}
