@import 'mixins/colors-mixin';

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: -0.02em;
}

.user {
  background: rgba-color(light-gray, 0.1);
  border-radius: var(--border-radius-xs);
  color: var(--light-black);
  display: flex;
  height: calc(var(--offset) * 3);
  padding: var(--offset-xs) var(--offset-s);

  &-img {
    align-items: center;
    background: var(--black);
    border-radius: var(--border-radius-xs);
    display: flex;
    justify-content: center;
    height: var(--offset-l);
    width: var(--offset-l);
  }

  &-name {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: var(--font-size-s);
    font-weight: 500;
    padding: 0 var(--offset-s);
  }

  &-notification {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
