:host {
	app-year-calendar {
		display: flex;
		flex-direction: column;
		gap: var(--offset);
		justify-content: space-between;
		height: calc(100% - 11rem);
		margin-top: 1rem;
	}
	.hidden {
		display: none;
	}
}
