:host {
	.container {
		width: 100%;
		height: 100%;
		margin-top: var(--offset-m);
		overflow-y: scroll;

		.vacation-team {
			width: 100%;
			height: 90%;
			margin-bottom: 10%;
			background: url('../../../assets/image/vacation\ team.svg') no-repeat;
			background-size: contain;
		}

		.vacation-history {
			width: 100%;
			height: 90%;
			margin-bottom: 10%;
			background: url('../../../assets/image/vacation\ personal.svg') no-repeat;
			background-size: contain;
		}

		.vacation-request {
			width: 100%;
			height: 90%;
			margin-bottom: 10%;
			background: url('../../../assets/image/request.svg') no-repeat;
			background-size: contain;
		}
	}
}
