<app-header [pageTitle]="title" ></app-header>
<app-vacation-header (changeDate)="onChangeDate($event)"
(changeFilters)="onChangeFilters($event)"
(vacationRequest)="onSendRequest($event)"
(tabSelected)="onChangeTab($event)"></app-vacation-header>
<app-vacation-team-calendar [date]="selectedDate" [dataSource]="vacations" [filters]="filters" [hidden]="vacationTab.title!=='My team'">
</app-vacation-team-calendar>
<app-year-calendar [class.hidden]="vacationTab.title!=='Personal'"></app-year-calendar>
<app-reports-table [dataSource]="requests" [columns]="columns" [hidden]="vacationTab.title!=='Requests'"></app-reports-table>
