:host {
	$header-height: 2.75rem;
	$scroll-size: 0.5rem;

	position: relative;
	height: 100%;

	.component-wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--offset);
		justify-content: space-between;
		height: 100%;
	}

	.header-bg {
		position: absolute;
		z-index: 1;
		height: $scroll-size;
		width: calc(100% - $scroll-size);
		background-color: white;
	}

	.grid-wrapper {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		gap: 1px;
		align-items: start;
		max-height: 100%;
		margin-top: var(--offset);
		overflow-y: auto;
		border: 1px solid var(--light-gray);
		border-top-left-radius: var(--border-radius-xs);
		border-top-right-radius: var(--border-radius-xs);

		.header {
			position: sticky;
			top: 0;
			z-index: 2;
			padding: var(--offset-s) 0;
			font-weight: 500;
			text-align: center;
			background-color: var(--accent-50);
			outline: 1px solid var(--light-gray);

			&:first-of-type {
				border-top-left-radius: var(--border-radius-xs);
			}

			&:last-of-type {
				border-top-right-radius: var(--border-radius-xs);
			}
		}
	}
}
