:host {
	$header-height: 2.75rem;

	.component-wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--offset);
		justify-content: space-between;
		height: calc(100% - $header-height);
	}

	.grid-wrapper {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		align-items: start;
		max-height: 100%;
		margin-top: var(--offset);
		overflow-y: auto;
		border: 1px solid var(--light-gray);
		border-top-left-radius: var(--border-radius-xs);
		border-top-right-radius: var(--border-radius-xs);
		gap: 1px;

		.header {
			position: sticky;
			top: 0;
			z-index: 2;
			padding: var(--offset-s) 0;
			font-weight: 500;
			text-align: center;
			background-color: var(--accent-50);
			outline: 1px solid var(--light-gray);

			&:first-of-type {
				border-top-left-radius: var(--border-radius-xs);
			}

			&:nth-of-type(7) {
				border-top-right-radius: var(--border-radius-xs);
			}
		}
	}
}
