@import 'mixins/colors-mixin';
@import 'mixins/common-mixin';

$office-select-height: 11rem;

:host {
	$input-width: 17rem;
	$role-width: 7rem;
	$project-width: 9rem;
	$office-width: 5.5rem;

  $page-offset: 3rem;
  $button-height: 3rem;
  $header-height: 3rem;
  $scroll-size: 0.5rem;

	.users-table {
    $offsets: calc($page-offset + var(--offset-m) + var(--offset));
    $components-size: calc((2 * $offsets) + (3 * $button-height) + $header-height);
    max-height: calc(100vh - $components-size);
		overflow: auto;

    .header-bg {
      position: absolute;
      z-index: 1;
      width: calc(100% - $scroll-size);
      height: $scroll-size;
      background-color: white;
    }
	}

	.email-column,
	.users-column {
		display: flex;
		min-width: $input-width;
    font-size: var(--font-size-s);
    font-weight: 500;
	}

	.email-column .mat-form-field {
		color: var(--dark-gray);
	}

	.role-column,
	.department-column {
		width: $role-width;
    font-size: var(--font-size-s);
    font-weight: 500;
	}

	.project-column {
		width: $project-width;
		.mat-select {
			max-width: $project-width;

			.project-item {
				padding: var(--offset-xxs) calc(0.375 * var(--offset));
				span {
					margin-right: var(--offset-xxs);
					padding: var(--offset-xxs) calc(0.375 * var(--offset));
					font-weight: 500;
					font-size: var(--font-size-xs);
					border-radius: var(--border-radius-xs);
				}
			}
		}
	}

	.office-column {
		display: flex;
		justify-content: center;
		width: $office-width;
	}

	.options-column {
		@include flex-center;

		.mat-icon {
			color: var(--dark-gray);
			@include icon-size(--icon-size-m);

			&:hover {
				color: var(--light-black);
			}
		}
	}
	.no-data-container {
		@include flex-center;
		padding-top: var(--offset);
		padding-bottom: var(--offset);
	}
}

::ng-deep {
	.mat-select {
		&-arrow-wrapper {
			display: none !important;
		}
		&-value {
			color: inherit;
		}
	}
	.mat-pseudo-checkbox {
		border: 1px solid var(--light-gray) !important;
		border-radius: var(--border-radius-xxs) !important;
	}

	.office-panel-class {
		max-height: $office-select-height !important;
	}
}
