:host {
  .smallView {
    width: 7.75rem;
    padding: calc(var(--offset) * 3.5) var(--offset-l) calc(var(--offset) * 5) var(--offset-l);
    .logo {
      width: 2.125rem;
      height: 2rem;
      background: url('../../../../../assets/image/Logo small.svg') no-repeat;
      margin: 0 auto var(--offset-l) auto;
    }
    .menu {
      &-item {
        padding: var(--offset-xs) var(--offset);
        &-icon {
          margin: 0;
        }
        &-title {
          display: none;
        }
      }
    }
    .switch {
      background: url('../../../../../assets/image/Navigation arrow v.2.svg') no-repeat;
    }
  }
}