@import 'mixins/common-mixin';

:host {
	overflow: none;

	.mat-dialog-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: var(--offset-l);
		margin: 0;
		padding-bottom: var(--offset-s);

		.title {
			display: flex;
			align-items: center;
			margin: 0;
			font-weight: 500;
			font-size: var(--font-size-s);
		}

		.mat-dialog-actions {
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;

			.mat-icon {
				@include icon-size(--font-size);
				cursor: pointer;
			}
		}
	}

	.mat-dialog-content {
		overflow-y: auto;
	}

	.mat-dialog-actions.footer {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}

	.mat-flat-button {
		padding: calc(var(--offset-xs) + var(--offset-xxxs)) var(--offset-m);
		font-weight: 600;
		font-size: var(--font-size-xs);
		line-height: var(--font-size);
		border-radius: var(--border-radius-xs);
		transition: var(--transition-xxs);

		&.mat-secondary {
			color: var(--accent-300);
			border: 1px solid var(--accent-300);

			&:hover {
				color: var(--accent-500);
				border-color: var(--accent-500);
			}
		}

		&.mat-primary {
			&:hover {
				background-color: var(--accent-500);
			}

			border: 1px solid var(--accent-300);
		}
	}
}
