@import 'mixins/common-mixin';

:host {
	.mat-dialog-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: var(--offset-l);
		margin: 0;
		padding-bottom: var(--offset-s);

		.title {
			display: flex;
			align-items: center;
			margin: 0;
			font-weight: 500;
			font-size: var(--font-size-s);
		}

		.mat-dialog-actions {
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;

			.mat-icon {
				@include icon-size(--font-size);
			}
		}
	}
}
