@import "mixins/common-mixin";

:host{
  $button-width: 6.9rem;
  $button-height: 2.45rem;

  ::ng-deep{
    .mat-button-toggle-appearance-standard{
      &:not(.mat-button-toggle-disabled){
        &:hover{
          .mat-button-toggle-focus-overlay{
            display:none;
          }
        }
      }
    }

    mat-button-toggle{
      @include flex-center;
      flex-direction: row;
      width:$button-width;
      height:$button-height;
      font-size:var(--font-size-xs);
      color:var(--accent-300);
      font-weight: 600;
    }

    .mat-button-toggle {
      &-group-appearance-standard{
        border: 1px solid var(--accent-300);
        border-radius: var(--border-radius-xs);
      }
      &-checked{
        background-color: var(--accent-300);
        color:var(--white);
      }
    }

    .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle{
      border-left: 1px solid var(--accent-300);
    }
  }
}


