@import 'mixins/colors-mixin';

:host{
    width: 100%;

    .page-wrapper{
        margin: var(--offset-l) 0rem;
        padding: calc(3*var(--offset));
        background-color: var(--white);
        border-radius: var(--offset-xs);
        height: 100vh;
    }
}
