<div class="calendar-header">{{calendarMonth?.monthName}}</div>
<div class="calendar-grid">
  <div class="calendar-label" *ngFor="let weekDay of weekDays">{{weekDay}}</div>
  <div class="calendar-body" *ngFor="let date of dates"
  [ngClass]="{disabledColor:!date.disabled,
     vacationColor: date.vacation,
     dayOffColor: date.dayOff,
     startVacation: date.startVacation,
     endVacation: date.endVacation,
     startVacationUnpaid: date.startVacationUnpaid,
     endVacationUnpaid: date.endVacationUnpaid,
     unapprovedVacation: date.unapprovedVacation,
     startUnapprovedVacation: date.startUnapprovedVacation,
     endUnapprovedVacation: date.endUnapprovedVacation}">
  {{date.date.getDate()}}
</div>
</div>
