@import 'mixins/common-mixin';

.calendar-block {
	width: 266px;
	height: 201px;
	margin: 1px;
	background-color: red;
}

.calendar-header {
	@include flex-center;
	height: 33px;
	background-color: var(--accent-50);
}

.calendar-label {
	@include flex-center;
	color: var(--accent-700);
}

.calendar-body {
	display: flex;
	justify-content: center;
}

.calendar-body-container {
	width: 208px;
}

.calendar-days-label {
	display: flex;
	gap: 15px;
	justify-content: center;
	background-color: green;
}

.calendar-days-content {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.days-number {
	width: 20px;
	height: 20px;
}

.calendar-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	padding: 0.5rem;
	width: 208px;
	margin-left: 49px;
}

.disabledColor {
	color: var(--light-gray);
}

.vacationColor {
	background-color: rgba(88, 174, 223, 0.2);
}

.dayOffColor {
	background-color: rgba(125, 214, 165, 0.2);
}

.startVacation {
	border-left: 1px solid #58aedf;
	border-radius: 4px 0 0 4px;
}

.endVacation {
	border-right: 1px solid #58aedf;
	border-radius: 0 4px 4px 0;
}

.startVacationUnpaid {
	border-left: 1px solid #7dd6a5;
	border-radius: 4px 0 0 4px;
}

.endVacationUnpaid {
	border-right: 1px solid #7dd6a5;
	border-radius: 0 4px 4px 0;
}
