@import 'mixins/common-mixin';
@import 'mixins/colors-mixin';

:host {
	$height-header: 2.1rem;
	$calendar-margin-left: 4.5rem;
	$calendar-width: 13rem;
	.calendar-header {
		@include flex-center;
		height: $height-header;
		background-color: var(--accent-50);
	}

	.calendar-label {
		@include flex-center;
		color: var(--accent-700);
	}

	.calendar-body {
		display: flex;
		justify-content: center;
	}

	.calendar-grid {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		width: $calendar-width;
		margin-left: $calendar-margin-left;
		padding: var(--offset-xs);
	}

	.disabledColor {
		color: var(--light-gray);
	}

	.vacationColor {
		background-color: rgba-color(vacation, 0.2);
	}

	.dayOffColor {
		background-color: rgba-color(day-off, 0.2);
	}

	.startVacation {
		border-left: 1px solid var(--vacation);
		border-radius: calc(var(--border-radius) * 0.125) 0 0 calc(var(--border-radius) * 0.125);
	}

	.endVacation {
		border-right: 1px solid var(--vacation);
		border-radius: 0 calc(var(--border-radius) * 0.125) calc(var(--border-radius) * 0.125) 0;
	}

	.startVacationUnpaid {
		border-left: 1px solid var(--day-off);
		border-radius: calc(var(--border-radius) * 0.125) 0 0 calc(var(--border-radius) * 0.125);
	}

	.endVacationUnpaid {
		border-right: 1px solid var(--day-off);
		border-radius: 0 calc(var(--border-radius) * 0.125) calc(var(--border-radius) * 0.125) 0;
	}

	.unapprovedVacation {
		background-color: rgba-color(light-gray, 0.2);
	}

	.startUnapprovedVacation {
		border-left: 1px solid var(--light-gray);
		border-radius: calc(var(--border-radius) * 0.125) 0 0 calc(var(--border-radius) * 0.125);
	}

	.endUnapprovedVacation {
		border-right: 1px solid var(--light-gray);
		border-radius: 0 calc(var(--border-radius) * 0.125) calc(var(--border-radius) * 0.125) 0;
	}
}
