@import 'mixins/common-mixin';
@import 'mixins/colors-mixin';

$line-height: 1.5rem;
$height: 2.5rem;
:host {
	::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
		line-height: $line-height;
		padding: 0;
	}

	.mat-button-toggle {
		height: $height;
		margin-right: var(--offset);
		padding: var(--offset-xs) var(--offset-s);
		color: var(--light-black);
		font-weight: 500;
		border: none;

		&-checked {
			color: var(--accent-300);
			background-color: inherit;
			border-bottom: 2px solid var(--accent-300);
		}
		&-group {
			padding-top: var(--offset-l);
			border: none;
		}
		&-button {
			height: $height;
		}
		.right-margin {
			margin-right: var(--offset-s);
		}
	}
}
