@import 'vars/fonts';

@mixin var-fonts($property, $value) {
	--#{$property}-xxs: calc(#{$value} * 0.625);
	--#{$property}-xs: calc(#{$value} * 0.75);
	--#{$property}-s: calc(#{$value} * 0.875);
	--#{$property}: #{$value};
	--#{$property}-m: calc(#{$value} * 1.25);
	--#{$property}-l: calc(#{$value} * 1.75);
}
