:host {
	$icon-size: 1.25rem;

	margin-left: 100px; //temp
	.menu-button {
		line-height: 0;
		padding: var(--offset-xs) var(--offset-s);
		border-radius: var(--offset-xs);
		border: 1px solid var(--accent-300);

		&-icon {
			width: $icon-size;
			height: $icon-size;
			font-size: var(--font-size-m);
			margin-right: var(--offset-s);
			color: var(--accent-300);
		}

		&-text {
			font-size: var(--font-size-xs);
			font-weight: 600;
			color: var(--accent-300);
		}
	}

	.focused {
		border-color: var(--accent-500);
		color: var(--accent-500);
	}

	.hidden {
		visibility: hidden;
	}
}

::ng-deep {
	$menu-item-width: 7.5rem;

	.mat-menu-content:not(:empty) {
		padding: 0 !important;
	}

	.cdk-overlay-pane {
		position: absolute !important;
		top: var(--offset-xxs);
		left: calc(-1 * var(--offset-xs));
	}

	.mat-menu-item {
		padding: 0 var(--offset-s) !important;
		width: $menu-item-width !important;

		&:hover {
			background-color: var(--accent-50);

			& .menu-item-icon {
				color: var(--gray);
			}
		}

		.menu-item-text {
			color: var(--light-black);
		}

		.menu-item-icon {
			color: var(--light-gray);
		}
	}
}
