<button class="menu-button"
  mat-flat-button color="secondary"
  [matMenuTriggerFor]="menu"
  (menuClosed)="switchFocus()"
  (menuOpened)="switchFocus()"
  [class.focused]="isMenuOpen">
  <mat-icon class="material-icons-outlined menu-button-icon" [class.focused]="isMenuOpen">settings</mat-icon>
  <span class="menu-button-text" [class.focused]="isMenuOpen">Options</span>
</button>
<mat-menu #menu="matMenu" class="menu">
  <button mat-menu-item *ngFor="let option of options" (click)="optionSelected.emit(option.event)">
    <mat-icon class="material-icons-outlined menu-item-icon">{{option.icon}}</mat-icon>
    <span class="menu-item-text">{{option.title}}</span>
  </button>
</mat-menu>
