@use 'sass:map';

$base-colors: (
	black: #261c45,
	light-black: #4e4a6b,
	dark-gray: #757992,
	gray: #9da1bc,
	light-gray: #c9cbd6,
	white: #fff,
	accent-50: #f9f9fa,
	accent-100: #dde8f5,
	accent-200: #b6c8eb,
	accent-300: #415eb6,
	accent-500: #003cbe,
	accent-700: #020f87,
	secondary-200: #7dd3a5,
	secondary-500: #30d72d,
	blue: #58aedf,
	yellow: #f1ba66,
	red: #f16666,
);

$primary-palette: (
	50: map.get($base-colors, accent-50),
	100: map.get($base-colors, accent-100),
	200: map.get($base-colors, accent-200),
	300: map.get($base-colors, accent-300),
	500: map.get($base-colors, accent-500),
	700: map.get($base-colors, accent-700),
	contrast: (
		300: map.get($base-colors, white),
		500: map.get($base-colors, white),
		700: map.get($base-colors, white),
	),
);

$accent-palette: (
	100: map.get($base-colors, secondary-200),
	200: map.get($base-colors, secondary-200),
	500: map.get($base-colors, secondary-500),
	700: map.get($base-colors, secondary-500),
	contrast: (
		100: map.get($base-colors, white),
		200: map.get($base-colors, white),
		500: map.get($base-colors, white),
		700: map.get($base-colors, white),
	),
);

$red-palette: (
	100: map.get($base-colors, red),
	500: map.get($base-colors, red),
	700: map.get($base-colors, red),
	contrast: (
		100: map.get($base-colors, white),
		500: map.get($base-colors, white),
		700: map.get($base-colors, white),
	),
);
