// Color vars
$light-black: #4e4a6b;
$black: #261C45;
$dark-gray: #757992;
$gray: #9da1bc;
$light-gray: #c9cbd6;
$white: #ffffff;
$blue: #58aedf;
$yellow: #f1ba66;
$red: #f16666;
$primary-50: #f9f9fa;
$primary-100: #dde8f5;
$primary-200: #b6c8eb;
$primary-300: #415eb6;
$primary-500: #003cbe;
$primary-700: #020f87;
$accent-200: #7dd3a5;
$accent-500: #30d72d;

$primary-palette: (
  50: $primary-50,
  100: $primary-100,
  200: $primary-200,
  300: $primary-300,
  500: $primary-500,
  700: $primary-700,
  contrast: (
    A500: $white
  )
);

$accent-palette: (
  100: $accent-200,
  200: $accent-200,
  500: $accent-500,
  700: $accent-500,
  contrast: ()
);

$red-palette: (
  100: $red,
  500: $red,
  700: $red,
  contrast: ()
);

