@mixin var-fonts($fonts) {
  @each $name, $font in $fonts {
    --#{$name}: #{$font};
  }
}

// Fonts
$font-size: 16px;

$base-fonts: (
  font-size-xxs: calc($font-size * 0.625),
  font-size-xs: calc($font-size * 0.75),
  font-size-s: calc($font-size * 0.875),
  font-size: $font-size,
  font-size-m: calc($font-size * 1.25),
  font-size-l: calc($font-size * 1.75)
);
