$row-height: 2.5rem;

app-root,
mat-dialog-container {
	.mat-table {
		width: 100%;
		overflow: auto;

		.mat-header-row {
			height: $row-height;
			background: var(--accent-50);
      position: sticky;
      z-index: 10;
      top: 0;

			.mat-header-cell {
				color: var(--black);
				font-weight: 500;
				font-size: var(--font-size-s);
        border: 1px solid var(--light-gray);
        border-right-width: 0;
        border-left-width: 0;

				&:first-of-type {
					width: calc($row-height - 2 * var(--offset-s));
					padding: 0 var(--offset-s);
          border-left-width: 1px !important;
          border-top-left-radius: var(--border-radius-xs);
				}
				&:last-of-type {
					padding: 0;
          border-right-width: 1px !important;
          border-top-right-radius: var(--border-radius-xs);
				}
			}
		}

		.mat-row {
			height: $row-height;
			color: var(--light-black);
			font-weight: 400;
			font-size: var(--font-size-s);
			&:not(:last-of-type) td {
				border-bottom: 1px solid var(--light-gray);
			}
      &:last-of-type td {
        border-bottom: 1px solid var(--light-gray);
      }
			td {
				margin: 0;
				padding: 0;
				&:first-of-type {
					padding: 0 var(--offset-s);
          border-left: 1px solid var(--light-gray);
				}
        &:last-of-type {
          border-right: 1px solid var(--light-gray);
        }
			}
		}

		.mat-form {
			&-field-wrapper {
				padding: 0;
			}

			&-field-underline {
				display: none;
			}

			&-field-flex {
				padding: 0;
				background: none;
			}

			&-field-infix {
				width: 100%;
				padding: 0;
				border: none;
			}
		}

		.mat-checkbox {
			display: flex;
		}

		.mat-button {
			min-width: 0;
			font-size: var(--font-size-xs);
			line-height: var(--font-size);
			border-radius: var(--border-radius-xs);
		}
	}
}
