$row-height: 2.5rem;

app-root,
mat-dialog-container {
	.mat-table {
		width: 100%;
		overflow: auto;
		border: 1px solid var(--light-gray);
		border-top: none;
		border-radius: var(--border-radius-xs);
		z-index: 100;

		.mat-header-row {
			height: $row-height;
			background: var(--accent-50);
			position: sticky;
			z-index: 100;

			.mat-header-cell {
				border-top: 1px solid var(--light-gray);
				color: var(--black);
				font-weight: 500;
				font-size: var(--font-size-s);
				&:first-of-type {
					border-radius: var(--border-radius-xs) 0 0 0;
					width: calc($row-height - 2 * var(--offset-s));
					padding: 0 var(--offset-s);
				}
				&:last-of-type {
					border-radius: 0 var(--border-radius-xs) 0 0;
					padding: 0;
				}
			}
		}

		.mat-row {
			height: $row-height;
			color: var(--light-black);
			font-weight: 400;
			font-size: var(--font-size-s);
			&:not(:last-of-type) td {
				border-bottom: 1px solid var(--light-gray);
			}
			td {
				margin: 0;
				padding: 0;
				&:first-of-type {
					padding: 0 var(--offset-s);
				}
			}
		}

		.mat-form {
			&-field-wrapper {
				padding: 0;
			}

			&-field-underline {
				display: none;
			}

			&-field-flex {
				padding: 0;
				background: none;
			}

			&-field-infix {
				width: 100%;
				padding: 0;
				border: none;
			}
		}

		.mat-checkbox {
			display: flex;
		}

		.mat-button {
			min-width: 0;
			font-size: var(--font-size-xs);
			line-height: var(--font-size);
			border-radius: var(--border-radius-xs);
		}
	}
}
