app-root {
	.mat-dialog-container {
		width: 100%;
		overflow: hidden;
	}

	.cdk-overlay-dark-backdrop {
		background: none;
	}
}

.cdk-overlay-backdrop.cdk-overlay-dark-backdrop.cdk-overlay-backdrop-showing{
	background-color: rgba-color(light-gray, 0.6);
}
