app-root .mat-flat-button {
  padding: var(--offset-xxs) var(--offset-m);
  transition: var(--transition-xxs);
  border-radius: var(--offset-xs);
  font-weight: 600;

  .mat-button-wrapper{
    display: flex;
    align-items: center;
    gap: var(--offset-s);
  }

  &.mat-secondary {
    border: 1px solid var(--accent-300);
    color: var(--accent-300);
    &:hover {
      border-color: var(--accent-500);
      color: var(--accent-500);
    }
  }

  &.mat-primary:hover {
    background-color: var(--accent-500);
  }

  &.mat-button-disabled.mat-button-disabled {
    background-color: var(--accent-50);
    color: var(--light-gray);
    border: none;
  }
}
