<div class="button-wrapper">
	<button
		mat-flat-button
		color="secondary"
		(click)="onReportButtonAction(ReportsButtonEnum.AddTask)"
	>
		<mat-icon>add</mat-icon>
		{{ ReportsButtonEnum.AddTask }}
	</button>
	<div class="right-button">
		<span class="notifier" [class.invisible]="!notifierMassage">{{ notifierMassage }}</span>
		<button
			mat-flat-button
			color="secondary"
      [class.mat-button-disabled]="disabledSave"
      [disabled]="disabledSave"
			(click)="onReportButtonAction(ReportsButtonEnum.Save)"
		>
			{{ ReportsButtonEnum.Save }}
		</button>
		<button
			mat-flat-button
			color="primary"
			[class.mat-button-disabled]="disableSubmit"
			(click)="onReportButtonAction(ReportsButtonEnum.Submit)"
		>
			{{ ReportsButtonEnum.Submit }}
		</button>
	</div>
</div>
