:host {
	.button-wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: var(--offset);

		.right-button {
			display: flex;
			gap: var(--offset);

			.notifier {
				display: flex;
				align-items: center;
				margin-right: var(--offset-s);
				color: var(--red);
				&.invisible {
					display: none;
				}
			}
		}
	}
}
