@import 'mixins/common-mixin';
@import 'mixins/colors-mixin';

:host {
	.menu-button {
		padding: var(--offset-xs) var(--offset-s);
		line-height: 0;
		border-radius: var(--border-radius-xs);
		&-icon {
			@include icon-size(--icon-size-m);
		}

		&-text {
			font-size: var(--font-size-xs);
		}
	}
}

button.mat-menu-item {
	.mat-button {
		&.project {
			padding: var(--offset-xxs) calc(0.375 * var(--offset));
			color: var(--accent-300);
			font-size: var(--font-size-xs);
			line-height: var(--font-size);
			background-color: rgba-color(accent-300, 0.2);
			border-radius: var(--border-radius-xs);
		}

		&.status {
			padding: var(--offset-xxs) var(--offset-s);
			font-size: var(--font-size-xs);
			line-height: var(--font-size);
			border: 1px solid var(--light-gray);
			border-radius: var(--border-radius-xs);
		}
	}

	.mat-icon {
		margin: 0rem;
		color: var(--light-black);
	}
}

.filter-menu-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
