@import 'mixins/common-mixin';
@import 'mixins/colors-mixin';

::ng-deep {
	$picker-top: -1.5rem;
	$picker-right: 6.8rem;

	.mat-select {
		&-arrow-wrapper {
			display: none !important;
		}
		&-value {
			color: inherit;
		}
	}

	.hidden-mat-menu-item {
		width: 0;
		min-width: 0 !important;
		height: 0;
	}

	.mat-menu-submenu-icon {
		display: none;
	}

	.left-position-datepicker {
		position: absolute;
		top: $picker-top;
		right: $picker-right;
		background-color: var(--white);
		box-shadow: 0px 4px 4px 0px rgba-color(black, 0.25);
	}
}

:host {
	$input-width: 2rem;
	$project-width: 5rem;
	$status-width: 3rem;
	$notes-width: 10rem;
	$period-width: 9rem;
	$name-width: 8rem;
	$tasks-width: 25rem;

	$window-margin: 2rem;
	$page-offset: 3rem;
	$button-height: 3rem;
	$header-height: 3rem;

	.day-table {
		$offsets: calc($window-margin + $page-offset + var(--offset-m) + var(--offset));
		$components-size: calc((2 * $offsets) + (3 * $button-height) + $header-height);
		max-height: calc(100vh - $components-size);
		overflow: auto;
	}

	.project-column {
		width: $project-width;
		.mat-select {
			padding: var(--offset-xxs) calc(0.375 * var(--offset));
			font-weight: 500;
			font-size: var(--font-size-xs);
			border-radius: var(--border-radius-xs);
		}
	}

	.status-column {
		width: $status-width;
		.mat-select {
			padding: var(--offset-xxs) var(--offset-s);
			font-weight: 500;
			font-size: var(--font-size-xs);
			border: 1px solid var(--light-gray);
			border-radius: var(--border-radius-xs);
		}
	}

	.time-column {
		display: flex;
		justify-content: center;
		.mat-input-element {
			width: $input-width;
			text-align: center;
		}
	}

	.paid-column {
		display: flex;
		justify-content: center;
	}

	.link-column {
		display: flex;
		justify-content: center;
		.mat-icon {
			color: var(--gray);
			&.active-links {
				color: var(--accent-300) !important;
			}
		}
	}

	.options-column {
		display: flex;
		justify-content: center;
		.mat-icon {
			color: var(--dark-gray);
		}
	}

	.period-column {
		display: flex;
		justify-content: center;
		width: $period-width;
		margin: 0;
	}

	.notes-column {
		display: flex;
		justify-content: center;
		width: 100%;
		.text {
			max-width: 24rem;
			min-width: 24rem;
			max-height: 1.5rem;
			overflow-y: hidden;
			word-wrap: break-word;
		 }
	}

	.approve-column {
		display: flex;
		justify-content: center;
		.approve {
			color: var(--accent-200);
			&:hover {
				color: var(--accent-300);
			}
		}
		.decline {
			color: rgba-color(red, 0.3);
			&:hover {
				color: rgba-color(red, 0.6);
			}
		}
	}

	.view-column {
		display: flex;
		justify-content: center;
		min-width: $notes-width;
		.visibility {
			color: var(--dark-gray);
		}
	}

	.name-column {
		width: $name-width;
	}

	.task-column {
		width: $tasks-width;
		min-width: max-content;
	}

	.no-data-container {
		@include flex-center;
		padding-top: var(--offset);
		padding-bottom: var(--offset);
		width: 100%;
	}
}
