@import 'mixins/colors-mixin';

::ng-deep {
	.mat-select {
		&-arrow-wrapper {
			display: none !important;
		}
		&-value {
			color: inherit;
		}
	}
}

:host {
	$input-width: 2rem;
	$project-width: 5rem;
	$status-width: 3rem;

	$window-margin: 2rem;
	$page-offset: 3rem;
	$button-height: 3rem;
	$header-height: 3rem;

	.day-table {
		$offsets: $window-margin + $page-offset + var(--offset-m) + var(--offset);
		$components-size: (2 * $offsets) + (3 * $button-height) + $header-height;
		max-height: calc(100vh - $components-size);
		overflow: auto;
	}

	.project-column {
		width: $project-width;
		.mat-select {
			padding: var(--offset-xxs) calc(0.375 * var(--offset));
			color: var(--accent-300) !important;
			font-weight: 500;
			font-size: var(--font-size-xs);
			background-color: rgba-color(accent-300, 0.2);
			border-radius: var(--border-radius-xs);
		}
	}

	.status-column {
		width: $status-width;
		.mat-select {
			padding: var(--offset-xxs) var(--offset-s);
			font-weight: 500;
			font-size: var(--font-size-xs);
			border: 1px solid var(--light-gray);
			border-radius: var(--border-radius-xs);
		}
	}

	.time-column {
		display: flex;
		justify-content: center;
		.mat-input-element {
			width: $input-width;
			text-align: center;
		}
	}

	.paid-column {
		display: flex;
		justify-content: center;
	}

	.link-column {
		display: flex;
		justify-content: center;
		.mat-icon {
			color: var(--gray);
			&.active-links {
				color: var(--accent-300) !important;
			}
		}
	}

	.options-column {
		display: flex;
		justify-content: center;
		.mat-icon {
			color: var(--dark-gray);
		}
	}
}
