<table mat-table [dataSource]="dataSource">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
    <th mat-header-cell *matHeaderCellDef>
      <div [ngSwitch]="column.type" [ngClass]="column.cls">
        <div *ngSwitchCase="columnType.CHECK_ALL">
          <mat-checkbox class="mat-checkbox" [checked]="allChecked" color="primary" (change)="setAll($event.checked)"></mat-checkbox>
        </div>

        <div *ngSwitchCase="columnType.INPUT">
          {{ column.title }}
        </div>

        <div *ngSwitchCase="columnType.PROJECT">
          {{ column.title }}
        </div>

        <div *ngSwitchDefault>
          {{ column.title }}
        </div>
      </div>
    </th>

    <td *matCellDef="let element">
      <div [ngSwitch]="column.type" [ngClass]="column.cls">
        <div *ngSwitchCase="columnType.CHECK_ALL">
          <mat-checkbox [(ngModel)]="element.checked" color="primary" (ngModelChange)="updateAllChecked()"></mat-checkbox>
        </div>

        <div *ngSwitchCase="columnType.CHECK">
          <mat-checkbox [(ngModel)]="element.paid" color="primary"></mat-checkbox>
        </div>

        <div *ngSwitchCase="columnType.INPUT">
          <mat-form-field class="example-full-width" appearance="fill">
            <input matInput [value]="element[''+column.field]">
          </mat-form-field>
        </div>

        <div *ngSwitchCase="columnType.PROJECT">
          <button mat-button [matMenuTriggerFor]="menu"> {{ element[''+column.field].title }} </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>

        <div *ngSwitchCase="columnType.STATUS">
          <button mat-button [matMenuTriggerFor]="menu"> {{ element[''+column.field] }} </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>

        <div *ngSwitchCase="columnType.LINK">
          <button class="add-link" mat-icon-button aria-label="Add Link" *ngIf="!element.asanaLink">
            <mat-icon aria-hidden="false">add_link</mat-icon> 
          </button>
          <a mat-icon-button aria-label="Link" class="asana-link" *ngIf="element.asanaLink" [href]="element.asanaLink" target="_blank">
            <mat-icon aria-hidden="false">link</mat-icon> 
          </a>
        </div>

        <div *ngSwitchCase="columnType.OPTIONS">
          <button mat-icon-button aria-label="Options" class="user-logout" [matMenuTriggerFor]="menu">
            <mat-icon aria-hidden="false">more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>

        <div *ngSwitchDefault> {{ element[''+column.field] }} </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
