<form [formGroup]="tableForm">
	<div class="day-table">
		<table mat-table [dataSource]="filterDataSource" formArrayName="rows" class="mat-elevation-z8">
			<ng-container *ngFor="let column of columns; let rowIndex = index" [matColumnDef]="column.id">
				<th mat-header-cell *matHeaderCellDef>
					<div [ngSwitch]="column.type" [ngClass]="column.cls">
						<div *ngSwitchCase="columnType.CHECK_ALL">
							<mat-checkbox
								class="mat-checkbox"
								[checked]="allChecked"
								color="primary"
								(change)="setAll($event.checked)"
							></mat-checkbox>
						</div>

						<div *ngSwitchDefault>
							{{ column.title }}
						</div>
					</div>
				</th>

				<td *cdkCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
					<div [ngSwitch]="column.type" [ngClass]="column.cls">
						<div *ngSwitchCase="columnType.CHECK_ALL">
							<mat-checkbox
								color="primary"
								[checked]="element.checked"
								(change)="updateChecked($event.checked, element)"
							></mat-checkbox>
						</div>

						<div *ngSwitchCase="columnType.CHECK">
							<mat-checkbox [checked]="element.paid" color="primary"></mat-checkbox>
						</div>
						<div *ngSwitchCase="columnType.CHECK_DISABLED">
							<mat-checkbox [checked]="element.paid" color="primary" disabled></mat-checkbox>
						</div>

						<div *ngSwitchCase="columnType.INPUT">
							<ng-container *ngIf="column.field === 'title'">
								<mat-form-field class="example-full-width" appearance="fill">
									<input matInput placeholder="New Task" formControlName="title" />
								</mat-form-field>
							</ng-container>
							<ng-container *ngIf="column.field === 'time'">
								<mat-form-field class="example-full-width" appearance="fill">
									<input matInput formControlName="time" />
								</mat-form-field>
							</ng-container>
							<ng-container *ngIf="column.field === 'overtime'">
								<mat-form-field class="example-full-width" appearance="fill">
									<input matInput formControlName="overtime" />
								</mat-form-field>
							</ng-container>
							<ng-container *ngIf="column.field === 'period'">
								<mat-form-field class="example-full-width" appearance="fill">
									<input matInput formControlName="period" />
								</mat-form-field>
							</ng-container>
						</div>
						<div *ngSwitchCase="columnType.COMMENTS">
							<div class="text" title="{{element['' + column.field]}}">{{ element['' + column.field] }}</div>
						</div>
						<div *ngSwitchCase="columnType.PROJECT">
							<mat-form-field appearance="fill">
								<mat-select
									[value]="element['' + column.field].title"
									[compareWith]="compareProjectObjects"
									formControlName="project"
									[ngStyle]="getColor(element['' + column.field].color)"
								>
									<mat-option [value]="project" *ngFor="let project of projects">
										<app-project-component
											[projectName]="project.title"
											[projectColor]="project.color"
										></app-project-component>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div *ngSwitchCase="columnType.STATUS">
							<mat-form-field appearance="fill">
								<mat-select [value]="element['' + column.field]">
									<mat-option [value]="status.Done">{{ status.Done }}</mat-option>
									<mat-option [value]="status.InProgress">{{ status.InProgress }}</mat-option>
									<mat-option [value]="status.OnHold">{{ status.OnHold }}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div *ngSwitchCase="columnType.LINK">
							<button
								class="add-link"
								mat-icon-button
								aria-label="Add Link"
								(click)="openDialog($event.clientX, $event.clientY, element)"
							>
								<mat-icon
									aria-hidden="false"
									[ngClass]="{'active-links': element.asanaLink || element.bitbucketLink}"
								>
									{{ element.asanaLink || element.bitbucketLink ? 'link' : 'add_link' }}
								</mat-icon>
							</button>
						</div>

						<div *ngSwitchCase="columnType.APPROVE">
							<button mat-icon-button aria-label="Approve" (click)="approve(element)">
								<mat-icon aria-hidden="false" class="material-icons-outlined approve">
									check_circle
								</mat-icon>
							</button>
						</div>

						<div *ngSwitchCase="columnType.DECLINE">
							<button mat-icon-button aria-label="Decline" (click)="decline(element)">
								<mat-icon aria-hidden="false" class="material-icons-outlined decline">
									cancel
								</mat-icon>
							</button>
						</div>

						<div *ngSwitchCase="columnType.VIEW">
							<button mat-icon-button aria-label="View" (click)="viewReport(element)">
								<mat-icon aria-hidden="false" class="material-icons-outlined visibility">
									visibility
								</mat-icon>
							</button>
						</div>

						<div *ngSwitchCase="columnType.TEXT">
							<span>{{ element['' + column.field] }}</span>
						</div>

						<div *ngSwitchCase="columnType.PERCENT">
							<span>{{ element['' + column.field] / sumTime.time | percent }}</span>
						</div>

						<div *ngSwitchCase="columnType.PROJECT_NAME">
							<app-project-component
								[projectName]="element['' + column.field].title"
								[projectColor]="element['' + column.field].color"
							></app-project-component>
						</div>

						<div *ngSwitchCase="columnType.OPTIONS">
							<button
								mat-icon-button
								aria-label="Options"
								class="user-logout"
								[matMenuTriggerFor]="menu"
							>
								<mat-icon aria-hidden="false">more_horiz</mat-icon>
							</button>
							<mat-menu #menu="matMenu" class="menu">
								<button mat-menu-item (click)="pickerCopyTo.open()" [matMenuTriggerFor]="copyTo">
									<mat-icon class="material-icons-outlined menu-item-icon">{{
										options[0].icon
									}}</mat-icon>
									<span class="menu-item-text">{{ options[0].title }}</span>
								</button>

								<mat-menu #copyTo="matMenu" class="hidden-mat-menu-item">
									<input
										matInput
										[matDatepicker]="pickerCopyTo"
										(dateChange)="onActionHandingBtn($event.value!, OptionsTitle.Copy, element)"
									/>
									<mat-datepicker
										#pickerCopyTo
										panelClass="left-position-datepicker"
									></mat-datepicker>
								</mat-menu>

								<button
									mat-menu-item
									(click)="onActionHandingBtn(null, OptionsTitle.Remove, element)"
								>
									<mat-icon class="material-icons-outlined menu-item-icon">{{
										options[1].icon
									}}</mat-icon>
									<span class="menu-item-text">{{ options[1].title }}</span>
								</button>
								<button mat-menu-item (click)="pickerMoveTo.open()" [matMenuTriggerFor]="moveTo">
									<mat-icon class="material-icons-outlined menu-item-icon">{{
										options[2].icon
									}}</mat-icon>
									<span class="menu-item-text">{{ options[2].title }}</span>
								</button>

								<mat-menu #moveTo="matMenu" class="hidden-mat-menu-item">
									<input
										matInput
										[matDatepicker]="pickerMoveTo"
										(dateChange)="onActionHandingBtn($event.value!, OptionsTitle.Move, element)"
									/>
									<mat-datepicker
										#pickerMoveTo
										panelClass="left-position-datepicker"
									></mat-datepicker>
								</mat-menu>
							</mat-menu>
						</div>

						<div *ngSwitchDefault>{{ element['' + column.field] }}</div>
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; let rowIndex = index; columns: displayedColumns"></tr>

			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="8">
					<div class="no-data-container">
						<app-no-data [size]="size.S"></app-no-data>
					</div>
				</td>
			</tr>
		</table>
	</div>
</form>
