@import 'mixins/colors-mixin';

:host {
	$input-width: 2rem;
	$project-width: 5rem;
	$status-width: 3rem;
  overflow: auto;

	.project-column {
		width: $project-width;
		.mat-button {
			padding: var(--offset-xxs) calc(0.375 * var(--offset));
			color: var(--accent-300);
			background-color: rgba-color(accent-300, 0.2);
		}
	}

	.status-column {
		width: $status-width;
		.mat-button {
			padding: var(--offset-xxs) var(--offset-s);
			border: 1px solid var(--light-gray);
		}
	}

	.time-column {
		display: flex;
		justify-content: center;
		.mat-input-element {
			width: $input-width;
			text-align: center;
		}
	}

	.paid-column {
		display: flex;
		justify-content: center;
	}

	.link-column {
		display: flex;
		justify-content: center;
		.mat-icon {
			color: var(--gray);
		}
	}

	.options-column {
		display: flex;
		justify-content: center;
		.mat-icon {
			color: var(--dark-gray);
		}
	}

	.task-links .mat-icon {
		color: var(--accent-300);
	}
}
