:host {
	@import 'mixins/common-mixin';

	$calendar-item-width: 11rem;
	$calendar-item-height: 7rem;

	.item-wrapper {
		width: $calendar-item-width;
		height: $calendar-item-height;
		margin-bottom: 50px; //rm
		margin-left: 50px; //rm
		color: var(--light-black);
		font-weight: 500;
		line-height: var(--font-size);
		border: 1px solid var(--light-gray);

		.date {
			position: relative;
			padding: var(--offset-xs) 0;
			text-align: center;
			background-color: var(--accent-50);
			.hint {
				position: absolute;
        @include icon-size(--icon-size);
				margin-left: var(--offset-xs);
				color: var(--light-gray);
				display: none;
			}
		}

		&:hover .date {
			background-color: rgba(221, 232, 245, 0.5);
			.hint {
				display: inline-block;
			}
		}

		.info {
			display: flex;
			flex-direction: column;
			gap: var(--offset-xxs);
			margin: 0;
			padding: var(--offset-s);
			list-style: none;
			.info-item {
				display: flex;
				justify-content: space-between;
				.info-title {
					font-weight: 400;
				}
				.info-value {
					font-weight: 600;
				}
			}
		}

		.vacation-info {
			padding-top: var(--offset-l);
			text-align: center;
		}

		&.overtime {
			.date {
				background-color: rgba(241, 186, 102, 0.2);
			}

			&:hover .date {
				background-color: rgba(241, 186, 102, 0.4);
				.hint {
					color: var(--yellow);
				}
			}

			.info-item:last-of-type,
			.info-item:nth-of-type(2) .info-value {
				color: var(--yellow);
			}
		}

		&.unfinished {
			.date {
				background-color: rgba(241, 102, 102, 0.2);
			}

			&:hover .date {
				background-color: rgba(241, 102, 102, 0.4);
				.hint {
					color: var(--red);
				}
			}

			.info-item:nth-of-type(2) {
				color: var(--red);
			}

			.info-item:last-of-type {
				display: none;
			}
		}

		&.present {
			border: 1px solid var(--accent-300);
			.date {
				color: var(--accent-500);
			}
		}

		&.vacation {
			.date {
				background-color: rgba(88, 174, 223, 0.2);
			}
			&:hover .date {
				background-color: rgba(88, 174, 223, 0.4);
			}
			.vacation-info {
				color: var(--blue);
			}
		}

		&.day-off {
			.date {
				background-color: rgba(125, 214, 165, 0.2);
			}
			&:hover .date {
				background-color: rgba(125, 214, 165, 0.4);
			}
			.vacation-info {
				color: var(--secondary-200);
			}
		}

		// &.holiday {
		// 	.date {
		// 		background-color: rgba(65, 94, 182, 0.2);
		// 	}
		// 	&:hover .date {
		// 		background-color: rgba(65, 94, 182, 0.4);
		// 	}
		// 	.vacation-info {
		// 		color: var(--accent-300);
		// 	}
		// }

		&.disabled {
			.date {
				color: var(--gray);
				background-color: var(--accent-50);
			}
			&:hover .date {
				background-color: var(--accent-50);
				.hint {
					display: none;
				}
			}
			.vacation-info {
				color: var(--light-gray);
			}
			.info {
				display: none;
			}
		}
	}
}
