<div class="container">
  <h2 class="header">
    In progress tasks
  </h2>
  <div class="tasks">
    <div class="tasks-item" *ngFor="let task of tasks">
      <div class="tasks-title"
           matTooltip="{{task.title}}"
           matTooltipClass="tooltip-down">
        {{task.title}}
      </div>
      <div class="tasks-right">
        <div class="tasks-hours">
          {{task.time}}h
        </div>
        <app-project-component
          projectName="{{ task.project.title }}"
          projectColor="{{ task.project.color }}"
        ></app-project-component>
      </div>
    </div>
    <div class="no-data-container">
      <app-no-data *ngIf="!tasks.length"></app-no-data>
    </div>
  </div>
</div>
