<div class="legends-wrapper">
  <div class="element">
    <div class="marker unworked"></div>
    <span>Some text</span>
  </div>
  <div class="element">
    <div class="marker"></div>
    <span>Some text</span>
  </div>
  <div class="element">
    <div class="marker"></div>
    <span>Some text</span>
  </div>
  <div class="element">
    <div class="marker"></div>
    <span>Some text</span>
  </div>
  <div class="element">
    <div class="marker"></div>
    <span>Some text</span>
  </div>
</div>
