@import 'mixins/colors-mixin';
$row-height: 2.5rem;

:host ::ng-deep .mat-table {
	width: 100%;
	overflow: hidden;
	border: 1px solid var(--light-gray);
	border-radius: var(--border-radius-xs);

	.mat-header-row {
		height: $row-height !important;
		background: var(--accent-50);
		border-color: var(--light-gray);

		.mat-header-cell {
			border-color: var(--light-gray);
		}
	}

	.mat-row {
		height: $row-height !important;

		.mat-cell {
			border-color: var(--light-gray);
		}

		&:last-child {
			.mat-cell {
				border-bottom: none;
			}
		}
	}

	.mat-header-cell {
		color: var(--black);
		font-weight: 500;
		font-size: var(--font-size-s);
	}

	.mat-cell {
		color: var(--light-black);
		font-weight: 400;
		font-size: var(--font-size-s);
	}

	.mat-header-row .mat-header-cell:first-child,
	.mat-header-row .mat-header-cell:last-child,
	.mat-row .mat-cell:first-child,
	.mat-row .mat-cell:last-child {
		padding: 0;
	}

	.mat-checkbox {
		.mat-checkbox-frame {
			border: 1px solid var(--light-gray);
			border-radius: var(--border-radius-xxs);
		}

		.mat-checkbox-background {
			border-radius: var(--border-radius-xxs);
		}
	}

	.checkbox {
		&.mat-cell,
		&.mat-header-cell {
			width: $row-height !important;
			text-align: center;
		}
	}

	.title {
		&.mat-cell,
		&.mat-header-cell {
			width: 30% !important;
		}
	}

	.center {
		&.mat-cell,
		&.mat-header-cell {
			text-align: center;
		}
	}

	.project-text {
		padding: var(--offset-xxs) var(--offset-s);
		color: var(--secondary-200);
		background: rgba-color(secondary-200, 0.2);
		border-radius: var(--border-radius-xs);
	}

	.status-text {
		padding: var(--offset-xxs) var(--offset-s);
		border: 1px solid var(--light-gray);
		border-radius: var(--border-radius-xs);
	}

	.add-link {
		color: var(--gray);
	}
}
