@import 'mixins/common-mixin';

:host {
	.no-data {
		background: url('../../../../assets/image/no-data.svg') no-repeat;
		background-size: contain;
	}
	.inline {
		display: inline-block;
	}
	.full {
		@include flex-center;
		width: 100%;
		height: 100%;
	}
}
