@import 'mixins/common-mixin';

:host{
	.no-data{
		background-image: url('/assets/image/no-data.svg');
		background-size: cover;
	}
	.inline{
		display: inline-block;
	}
	.full{
		@include flex-center;
		width: 100%;
		height: 100%;
	}
}