@import 'mixins/colors-mixin';

:host {
	$full-width: 15.5rem;
	$small-width: 8rem;
	$menu-icon-size: 1.75rem;

	.active {
		background-color: rgba-color(accent-100, 0.5);
	}

	.wrapper {
		position: relative;
		width: $full-width;
		height: 100vh;
		padding: calc(var(--offset) * 3.5) calc(var(--offset) * 3) calc(var(--offset) * 5)
			var(--offset-l);
		background-color: var(--accent-50);
		transition: var(--transition-xxxs);

		.logo {
			width: $full-width * 0.7;
			height: 1.5rem;
			margin-bottom: var(--offset-l);
			background: url('/assets/image/Logo.svg') no-repeat;
		}

		.menu {
			display: flex;
			flex-direction: column;
			gap: var(--offset);
			padding: 0;
			list-style-type: none;

			&-item {
				display: flex;
				align-items: center;
				padding: var(--offset-xs) var(--offset-s);
				border-radius: var(--offset-xs);
				cursor: pointer;

				&-icon {
					width: $menu-icon-size;
					height: $menu-icon-size;
					margin-right: var(--offset-s);
					color: var(--accent-200);

					.mat-icon {
						width: 100%;
						height: 100%;
						padding: var(--offset-xxxs);
					}
				}

				&-title {
					color: var(--light-black);
					font-weight: 500;
					font-size: var(--font-size);
					text-decoration: none;

					&:visited {
						color: var(--light-black);
					}
				}
			}
		}

		.switch {
			position: absolute;
			top: calc(var(--offset-xs) * 10);
			right: calc(-1 * var(--offset));
			color: var(--accent-50);
			background-color: var(--accent-200);
			&.mat-mini-fab {
				box-shadow: none;
			}
		}
	}

	.small {
		width: $small-width;
		padding: calc(var(--offset) * 3.5) var(--offset-l) calc(var(--offset) * 5) var(--offset-l);

		.logo {
			width: $small-width * 0.3;
			height: $small-width * 0.3;
			margin: 0 auto var(--offset-l) auto;
			background: url('~assets/image/logo-small.svg') no-repeat center;
		}

		.menu {
			&-item {
				padding: var(--offset-xs) var(--offset);

				&-icon {
					margin: 0;

					.mat-icon {
						padding: var(--offset-xxs);
					}
				}

				&-title {
					display: none;
				}
			}
		}
	}
}
