<div class="wrapper" [ngClass]=" {smallView:isPanelSmall}">
  <div class="logo"></div>
  <nav>
    <ul class="menu">
      <li 
        class="menu-item"
        *ngFor="let path of paths | keyvalue: originalOrderComparator"
        routerLinkActive="active"
        routerLink="/{{path.value}}">
        <div class="menu-item-icon {{path.value}}"></div>
        <span class="menu-item-title">{{path.value | titlecase}}</span>
      </li>
    </ul>  
  </nav>
  <button class="switch" (click)="switchMenuView()"></button>
</div>