*{
  box-sizing: border-box;
}
.wrapper {
  padding: 56px 47px 80px 32px;
  width: 248px;
  height: 100vh;
  background-color: rgba(249, 249, 250, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: 0.2s;
} 
.logo {
  width: 168px;
  height: 23px;
  background: url(../../../../assets/image/Logo.svg) no-repeat;
  margin-bottom: 32px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  li {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    &::before {
      content: '';
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 12px;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.logout {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  .icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../../../../assets/image/Logout.svg');
  }
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  &:visited {
    color: #000;
  }
}

.switch {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url('../../../../assets/image/Navigation arrow.svg') no-repeat;
  position: absolute;
  top: 80px;
  right: -16px;
}

li.dashboard::before {
  background-image: url('../../../../assets/image/Dashboard.svg');
}
li.projects::before {
  background-image: url('../../../../assets/image/Projects.svg');
}
li.reports::before {
  background-image: url('../../../../assets/image/Reports.svg');
}
li.vacation::before {
  background-image: url('../../../../assets/image/Vacation.svg');
}
li.statistic::before {
  background-image: url('../../../../assets/image/Statistic.svg');
}
li.finance::before {
  background-image: url('../../../../assets/image/Finance.svg');
}
li.settings::before {
  background-image: url('../../../../assets/image/Settings.svg');
}

.active {
  background-color: rgba(221, 232, 245, 0.5); 
}

.smallView {
  width: 124px;
  padding: 56px 32px 80px 32px;
  a {
    transform: scale(0);
  }
  .logo {
    width: 34px;
    height: 32px;
    background: url('../../../../assets/image/Logo small.svg') no-repeat;
    margin: 0 auto 32px auto;
  }
  li {
    &::before {
      background: none;
    }
    background-repeat: no-repeat;
    background-position: center center;
  }
  li.dashboard {
    background-image: url('../../../../assets/image/Dashboard.svg');
  }
  li.projects {
    background-image: url('../../../../assets/image/Projects.svg');
  }
  li.reports {
    background-image: url('../../../../assets/image/Reports.svg');
  }
  li.vacation {
    background-image: url('../../../../assets/image/Vacation.svg');
  }
  li.statistic {
    background-image: url('../../../../assets/image/Statistic.svg');
  }
  li.finance {
    background-image: url('../../../../assets/image/Finance.svg');
  }
  li.settings {
    background-image: url('../../../../assets/image/Settings.svg');
  }
  .logout {
    display: inline-block;
    height: 28px;
    margin-right: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../../../../assets/image/Logout.svg');
    a {
      display: none;
    }
    .icon {
      display: none;
    }
  }
  .switch {
    background: url('../../../../assets/image/Navigation arrow v.2.svg') no-repeat;
  }
}