<div class="wrapper" [ngClass]="{smallView:isPanelSmall}">
  <div class="logo"></div>
  <nav>
    <ul class="menu">
      <li 
        class="menu-item"
        *ngFor="let path of paths | keyvalue: originalOrderComparator; let i = index"
        routerLinkActive="active"
        routerLink="/{{path.value}}">
        <a class="menu-item-icon"><mat-icon class="material-icons-outlined">{{icons[i]}}</mat-icon></a>
        <span class="menu-item-title">{{path.value | titlecase}}</span>
      </li>
    </ul>  
  </nav>
  <button mat-mini-fab class="switch" (click)="switchMenuView()">
    <mat-icon *ngIf="!isPanelSmall">keyboard_arrow_left</mat-icon>
    <mat-icon *ngIf="isPanelSmall">keyboard_arrow_right</mat-icon>
  </button>
</div>