@import 'mixins/common-mixin';

:host {
	@include flex-center;
	display: inline-flex;
	height: 100%;
	padding: var(--offset-xxs) var(--offset-s) !important;
	border: 1px solid var(--accent-100);
	border-radius: var(--border-radius-xs);

	.mat-form-field {
		position: relative;
		width: 9.5rem;
		.arrow {
			position: absolute;
			top: calc(-1 * var(--offset));
			right: 0;
			color: var(--light-black);
		}
	}
}

::ng-deep {
	app-project-select .mat-form-field {
		&-wrapper {
			padding: 0;
		}
		&-flex {
			padding: 0 !important;
			background: none !important;
		}
		&-infix {
			padding: 0 !important;
			border: none;
		}
		&-underline {
			display: none;
		}
	}

	.mat-select {
		&-arrow {
			display: none !important;
		}
		&-arrow-wrapper {
			display: none !important;
		}
		&-value {
			color: inherit;
			font-size: var(--offset-s);
			display: flex;
			&-text {
				display: block;
				padding: var(--offset-xxs);
				border-radius: var(--border-radius-xs);
			}
		}
	}
}
