@import 'mixins/common-mixin';

:host {
	.card {
		width: 100%;
		padding-bottom: var(--offset-xxs);
		border: 1px solid var(--accent-200);
		border-radius: var(--border-radius-xs);
	}
	.label {
		margin: var(--offset-m) 0 0 var(--offset-m);
		font-size: var(--font-size-s);
	}
}
