<div class="container">
    <app-date-picker (changeDate)="changeDate.emit($event)"
    [periodRange]="periodRange"></app-date-picker>
    <div class="inner-container">
        <div class="left">
            <app-project-select (changeProject)="selectProject($event)"></app-project-select>
            <app-input-search (searchValueChange)="searchValueChange($event)"></app-input-search>
        </div>
        <button mat-flat-button color="secondary">
    		<mat-icon class="material-icons-outlined">file_upload</mat-icon>
                Export
        </button>
    </div>
</div>