<button mat-flat-button color="secondary"
	 class="menu-button"
	 [matMenuTriggerFor]="filter"> 
	 <mat-icon class="material-icons-outlined menu-button-icon">filter_alt</mat-icon>
	 <span class="menu-button-text" *ngIf="filters">Filter ({{filters}})</span>
	 <span class="menu-button-text" *ngIf="!filters">Filter</span>
</button>
<mat-menu #filter="matMenu">
	<button mat-menu-item class="filter-menu-item" [matMenuTriggerFor]="projects">
		<span>Project</span>
		<mat-icon>keyboard_arrow_right</mat-icon>
	</button>
	<button mat-menu-item class="filter-menu-item" [matMenuTriggerFor]="statuses">
		<span>Status</span>
		<mat-icon>keyboard_arrow_right</mat-icon>
	</button>
	<button mat-menu-item class="filter-menu-item" [matMenuTriggerFor]="overtime">
		<span>Overtime</span>
		<mat-icon >keyboard_arrow_right</mat-icon>
	</button>
</mat-menu>

<mat-menu #projects="matMenu" class="inner-menu">
	<button mat-menu-item>
		<mat-checkbox color="primary" [checked]="allProjectChecked"
		(change)="setAll('project')" (click)="$event.stopPropagation()"></mat-checkbox>
		<span>Select All</span>
	</button>
	<button mat-menu-item *ngFor="let project of projectSource">
		<mat-checkbox color="primary" [(ngModel)]="project.checked"
		(change)="OnChange('project',$event.checked)"
		(click)="$event.stopPropagation()"></mat-checkbox>
		<button mat-button class="project">{{project.title}}</button>
	</button>
</mat-menu>

<mat-menu #statuses="matMenu" class="inner-menu">
	<button mat-menu-item>
		<mat-checkbox color="primary" [checked]="allStatusChecked"
		(change)="setAll('status')" (click)="$event.stopPropagation()"></mat-checkbox>
		<span>Select All</span>
	</button>
	<button mat-menu-item *ngFor="let status of statusSource">
		<mat-checkbox color="primary" [(ngModel)]="status.checked"
		(change)="OnChange('status',$event.checked)"
		(click)="$event.stopPropagation()"></mat-checkbox>
		<button mat-button class="status">{{status.title}}</button>
	</button>
</mat-menu>

<mat-menu #overtime="matMenu" class="inner-menu">
	<button mat-menu-item>
		<mat-checkbox color="primary" [checked]="allOvertimeChecked"
		(change)="setAll('overtime')" (click)="$event.stopPropagation()"></mat-checkbox>
		<span>Select All</span>
	</button>
	<button mat-menu-item *ngFor="let overtime of overtimeSource">
		<mat-checkbox color="primary" [(ngModel)]="overtime.checked"
		(change)="OnChange('overtime',$event.checked)"
		(click)="$event.stopPropagation()"></mat-checkbox>
		 <span>{{overtime.title}}</span>
	</button>
</mat-menu>