@import 'mixins/colors-mixin';
@import 'mixins/common-mixin';

:host {
	$search-area-width: 17rem;
	$search-area-height: 2.375rem;

	position: relative;
	display: flex;
	align-items: center;
	width: $search-area-width;
	height: $search-area-height;
	padding: var(--offset-xs) var(--offset-s);
	border: 1px solid  rgba-color(accent-300, 0.65);
	border-radius: var(--offset-xs);

	.search-icon {
		width: calc($search-area-height * 0.6);
		height: calc($search-area-height * 0.6);
		margin-right: var(--offset-xxs);
		color: rgba-color(accent-300, 0.65);
	}

	.search-input {
		color: var(--dark-grey);
		font-size: var(--font-size-s);
		border: none;
		outline: none;
	}

	.search-clear-icon {
		width: calc($search-area-height * 0.5);
		height: calc($search-area-height * 0.5);
		color:  rgba-color(accent-300, 0.65);
		font-size: var(--font-size-m);
		cursor: pointer;

		&:hover {
			color: var(--accent-500);
		}
	}
}
