@import 'mixins/common-mixin';
@import 'mixins/colors-mixin';

$button-min-width: 2.25rem;
$wrapper-width: calc(10rem - 1px);
$buttons-height: 2.44rem;
$button-group-width: 12.8rem;
$arrows-height: 2.313rem;
$header-size: 2rem;

:host {
	::ng-deep {
		mat-datepicker-toggle {
			& .mat-ripple {
				display: none;
			}
			color: var(--accent-300);
		}

		.mat-form-field {
			margin: 0 var(--offset-s);
			height: calc(var(--offset-s)*3);

			&:last-child {
				margin-right: 0;
			}
			&:hover {
				background: none;
				border-radius: var(--border-radius-xs);
			}
			&-wrapper {
				@include flex-center;
				width: $wrapper-width;
				height: $buttons-height;
				padding: 0;
				color: var(--accent-300);
				font-weight: 600;
				font-size: var(--font-size-xs);
				&:hover {
					cursor: pointer;
				}

				.mat-input-element{
					font-size: var(--font-size-s);
				}

			}

			&-underline {
				display: none;
			}

			&-appearance-fill {
				.mat-form-field-flex {
					display: flex;
					align-items: center;
					padding: 0 var(--offset-s);
					max-height: calc(2.25*var(--offset));
					background-color: var(--white);
					border-radius: var(--border-radius-xs);
					border: 1px solid var(--accent-300);
				}
				.mat-form-field-label{
					top: var(--offset);
					font-size: var(--font-size-xs);
					color: var(--gray);
					font-weight: 400;
				}
			}
			&-suffix {
				padding-top: calc(var(--offset) * 0.2);
			}
		}
	}

	input.mat-input-element {
		cursor: pointer;
	}

	.mat-dialog-title {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0;
		padding-bottom: var(--offset-s);

		.title {
			display: flex;
			align-items: center;
			height: $header-size;
			margin: 0;
			font-weight: 500;
			font-size: var(--font-size-s);
		}
		.mat-dialog-actions{
			min-height: 1.5rem;
		}
	}
	
	.mat-dialog-actions {
		padding: 0;
		display: flex;
		align-items: center;
		margin: 0;
	}
	.mat-dialog-content {
		overflow: hidden;
		.dialog-content-item {
			padding-bottom: var(--offset-s);
			width: 25.25rem;

			&.last {
				padding-bottom: calc(var(--offset-s) - 7px);
			}
		}
		mat-label{
			font-size: var(--font-size-xs);
			&.label{
				color: var(--light-black);
				font-size: var(--font-size-xs);
				font-weight: 500;
			}
		}

		::ng-deep{
			.mat-checkbox {
				margin-right: var(--offset-s);
				&-frame {
					border: 1px solid var(--light-gray);
					border-radius: var(--border-radius-xxs);
				}
				
				&-background {
					border-radius: var(--border-radius-xxs);
				}
			}
		}

		.mat-dialog-actions{
			justify-content: flex-end;
		}
	}

	textarea {
		color: var(--light-black);
		font-size: var(--font-size-xs);
		padding: var(--offset-xs);
		border: 1px solid var(--light-gray);
		border-radius: var(--offset-xxs);
		max-width: calc(100% -  var(--offset));
		height: 70px;
		resize: none;
	}

	.mat-flat-button {
		padding: calc(var(--offset-xs) + var(--offset-xxxs)) var(--offset-m);
		font-weight: 600;
		font-size: var(--font-size-xs);
		line-height: var(--font-size);
		border-radius: var(--border-radius-xs);
		transition: var(--transition-xxs);

		&.mat-secondary {
			color: var(--accent-300);
			border: 1px solid var(--accent-300);
			&:hover {
				color: var(--accent-500);
				border-color: var(--accent-500);
			}
		}

		&.mat-primary {
			&:hover {
				background-color: var(--accent-500);
			}
			border: 1px solid var(--accent-300);
		}
	}
}

::ng-deep {
.cdk-overlay-backdrop.cdk-overlay-dark-backdrop.cdk-overlay-backdrop-showing{
	background-color: rgba-color(light-gray, 0.6);
}}
