<div class="date-controls">
	<app-toggle-button
		[config]="toggleConfig"
		(changeSelectedValue)="changeDatePicker($event)"
	></app-toggle-button>
	<app-date-picker [periodRange]="periodRange" (changeDate)="changeDate.emit($event)"></app-date-picker>
</div>
<div class="filter-controls">
	<div class="filters">
		<app-input-search (searchValueChange)="searchValueChange.emit($event)"></app-input-search>
		<app-options-button [isDisabled]="isDisabled$ | async" (actionHanding)="actionHanding.emit($event)"></app-options-button>
	</div>
	<app-hours-card [sumTime]="sumTime"></app-hours-card>
</div>
