:host {
	.date-controls {
		display: flex;
		gap: var(--offset);
		align-items: center;
		margin-top: var(--offset-l);
		.hours {
			margin-left: auto;
		}
	}

	.filter-controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: var(--offset) 0;

		.filters {
			display: flex;
			gap: var(--offset);
			align-items: center;
		}
	}
	.invisible {
		display: none;
	}
}
