<div class="date-controls">
  <app-toggle-button [config]="toggleConfig" (changeSelectedValue)="changePeriod($event)"></app-toggle-button>
  <app-date-picker [periodRange]="periodRange" (changeDate)="changeDate.emit($event)"></app-date-picker>
  <app-hours-card class="hours" 
    [class.invisible]="periodRange === periods.Day" 
    [normalHoursCount]="monthNormalTime" 
    [sumTime]="sumTime"></app-hours-card>
</div>
<div class="filter-controls" [class.invisible]="periodRange === periods.Month">
  <div class="filters" >
    <app-filters-button [projectSource]="projects"></app-filters-button>
    <app-input-search></app-input-search>
    <app-options-button></app-options-button>
  </div>
  <app-hours-card [sumTime]="sumTime"></app-hours-card>
</div>


