:host {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	.view-switcher {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.month-view {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: space-between;
	}
}
