:host {
	$button-height: 3rem;

	.reports {
		display: flex;
		flex-flow: column;
		width: 100%;
		height: 100%;
		&-container {
			position: relative;
			display: flex;
			flex-grow: 1;
			flex-flow: column;
			width: 100%;
			height: 100%;
			overflow-y: hidden;
		}
		&-day {
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			height: calc(100% - (var(--offset) + $button-height));
		}
		app-reports-button {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}

	.view-switcher {
		flex-grow: 1;
		overflow-y: hidden;
	}
}
