@import 'theme';
@import 'mixins/offsets-mixin';
@import 'mixins/fonts-mixin';
@import 'mixins/colors-mixin';
@import 'material/mat-button.scss';

:root {
	@include variable(offset, $offset);
	@include variable(border-radius, $border-radius);
	@include variable(transition, $transition);

	@include var-fonts(font-size, $font-size);
	@include var-colors($base-colors);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 16px;
	font-family: Inter, sans-serif;
    background-color: var(--accent-50);
}
