@import 'mixins/common-mixin';

:host {
	$mat-card-min-width: 100%;
	$button-min-width: 7.4rem;
	$button-min-height: 2.25rem;
	$line-height: 2rem;

	app-notification ::ng-deep {
		&.mat-card {
			position: static;
			min-width: $mat-card-min-width;
			margin-top: 0;
			padding: var(--offset-m);
			border-radius: var(--border-radius-xs);
			height: 25vh;

			&-title {
				margin-bottom: var(--offset);
				line-height: $line-height;
			}

			&-actions {
				margin-bottom: 0;

				& button {
					min-width: $button-min-width;
					min-height: $button-min-height;
					& .mat-button-wrapper {
						gap: var(--offset-s) !important;
					}
				}
			}

			app-no-data {
				padding: 0;
				height: 14vh;
			}
		}

		& .notification {
			margin-bottom: calc(var(--offset) * 1.2);
		}
	}

	app-project-teams ::ng-deep {
		.container {
			height: 25vh;
		}
	}

	app-vacation-request ::ng-deep {
		.mat-card {
			height: 25vh;
		}
	}

	app-progress-tasks ::ng-deep {
		.container {
			height: 25vh;
		}
		.no-data-container {
			height: 15vh;
		}
	}

	app-semi-circle-donut ::ng-deep {
		.card {
			height: 25vh;
		}
	}

	app-task-statistic ::ng-deep {
		.mat-card {
			height: 25vh;
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		padding-top: var(--offset-l);

		&-left {
			display: flex;
			flex-direction: column;
			gap: var(--offset-m);
			width: 58%;
			padding-right: var(--offset-m);
		}

		&-right {
			display: flex;
			flex-direction: column;
			gap: var(--offset-m);
			width: 42%;
		}
	}
}
