@import 'mixins/common-mixin';

.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding-top: var(--offset-l);

	&-left {
		display: flex;
		flex-direction: column;
		width: 58%;
		padding-right: var(--offset-m);
		gap: var(--offset-m);
	}

	&-right {
		display: flex;
		flex-direction: column;
		width: 42%;
		gap: var(--offset-m);
	}
}
