:host {
	.item-wrapper {
		height: 100%;
		color: var(--light-black);
		font-weight: 500;
		line-height: var(--font-size);
		border: 1px solid var(--light-gray);
		display: flex;
		.date {
			flex: 1;
			border-right: 1px solid var(--light-gray);
			&:last-of-type {
				border: none;
			}
			&-header {
				text-align: center;
				background-color: var(--accent-50);
				padding: var(--offset-xs) 0;
			}
		}
	}
}
