<div class="grid-wrapper">
  <div class="header">Week</div>
  <div class="header">Monday</div>
  <div class="header">Tuesday</div>
  <div class="header">Wednesday</div>
  <div class="header">Thursday</div>
  <div class="header">Friday</div>
  <div class="header">Saturday</div>
  <div class="header">Sunday</div>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
  <app-reports-calendar-item [dayInfo]="dayData"></app-reports-calendar-item>
</div>