:host {
	$max-calendar-height: 38rem;
	$scroll-size: 1rem;

	position: relative;

	.header-bg {
		position: absolute;
		height: $scroll-size;
		background-color: white;
		width: calc(100% - $scroll-size);
		top: var(--offset);
	}

	.grid-wrapper {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		max-height: $max-calendar-height;
		margin-top: var(--offset);
		overflow-y: auto;

		.header-bg {
			position: absolute;
			height: 1rem;
			background-color: var(--red);
			top: var(--offset);
		}

		.header {
			position: sticky;
			top: 0;
			z-index: 1;
			padding: var(--offset-s) 0;
			font-weight: 500;
			text-align: center;
			background-color: var(--accent-50);
			border-top: 1px solid var(--light-gray);
			border-bottom: 1px solid var(--light-gray);

			&:first-of-type {
				border-left: 1px solid var(--light-gray);
				border-top-left-radius: var(--border-radius-xs);
			}

			&:last-of-type {
				border-right: 1px solid var(--light-gray);
				border-top-right-radius: var(--border-radius-xs);
			}
		}
	}
	.hidden {
		display: none;
	}
}
