<div class="header-bg"></div>
<div class="component-wrapper">
	<div class="grid-wrapper" [class.hidden]="!show">
		<div class="header">Week</div>
		<div class="header" *ngFor="let day of weekDay">{{ day }}</div>
		<app-reports-calendar-item
			*ngFor="let dayInfo of daysInfo"
			(selectDay)="onSelectDay($event)"
			[dayInfo]="dayInfo"
			[disabled]="dayInfo.disabled"
		>
		</app-reports-calendar-item>
	</div>
	<app-calendar-legend [legendItems]="legendItems"></app-calendar-legend>
</div>
