<div class="grid-wrapper" [class.hidden]="!show">
  <!-- <div class="header">Week</div> -->
  <div class="header">Week</div>
  <div class="header">Monday</div>
  <div class="header">Tuesday</div>
  <div class="header">Wednesday</div>
  <div class="header">Thursday</div>
  <div class="header">Friday</div>
  <div class="header">Saturday</div>
  <div class="header">Sunday</div>
  <app-reports-calendar-item
    *ngFor="let dayInfo of daysInfo"
    (selectDay)="onSelectDay($event)"
    [dayInfo]="dayInfo"
    [disabled]="dayInfo.disabled">
  </app-reports-calendar-item>
</div>