<app-vacation-toggle
		[tab]="tab"
		(changeSelectedValue)="changeTab($event)"
></app-vacation-toggle>
<div  [hidden]="tab.title!=='My team'">
	<div class="container">
		<div class="inline-block">
			<app-date-picker (changeDate)="changeDate.emit($event)"
			[periodRange]="periodRange" class="inline-block"></app-date-picker>
			<app-project-select (changeProject)="selectProject($event)"></app-project-select>
			<div class="select">
				<mat-form-field class="department" appearance="fill">
					<mat-select [value]="currentDepartment" (valueChange)="selectDepartment($event)">
						<mat-option [value]="'Select all'">
							<span>Select all</span>
						</mat-option>
						<mat-option [value]="department" *ngFor="let department of departments">
							<span>{{department}}</span>
						</mat-option>
					</mat-select>
					<mat-icon matSuffix class="arrow">expand_more</mat-icon>
				</mat-form-field>
			</div>
		</div>
		<button mat-flat-button color="primary" (click)="dialogOpen()">Vacation request</button>
	</div>
</div>
<div  [hidden]="tab.title!=='Personal'">
	<div class="container">
		<div class="inline-block">
			<app-date-picker (changeDate)="changeDate.emit($event)"
			[periodRange]="periodRange" class="inline-block"></app-date-picker>
		</div>
		<button mat-flat-button color="primary" (click)="dialogOpen()">Vacation request</button>
	</div>
</div>
