<app-vacation-toggle 
		[tab]="tab"
		(changeSelectedValue)="changeTab($event)"
	></app-vacation-toggle>
<div  [hidden]="tab.title!=='My team'">
	<div class="container">
		<div class="inline-block">
			<app-date-picker (changeDate)="changeDate.emit($event)"
			[periodRange]="periodRange" class="inline-block"></app-date-picker>
			<div class="select">
				<mat-form-field class="project-teams" appearance="fill">
					<mat-select [value]="currentProject.title" (valueChange)="selectProject($event)">
						<mat-option [value]="project.title" *ngFor="let project of projects | slice:0:projects.length-1">
							<app-project-component projectName="{{project.title}}"></app-project-component>
						</mat-option>
					</mat-select>
					<mat-icon matSuffix class="arrow">expand_more</mat-icon>
				</mat-form-field>
			</div>
			<div class="select">
				<mat-form-field class="project-teams" appearance="fill">
					<mat-select [value]="currentDepartment" (valueChange)="selectDepartment($event)">
						<mat-option [value]="'Select all'">
							<span>Select all</span>
						</mat-option>
						<mat-option [value]="department" *ngFor="let department of departments">
							<span>{{department}}</span>
						</mat-option>
					</mat-select>
					<mat-icon matSuffix class="arrow">expand_more</mat-icon>
				</mat-form-field>
			</div>
		</div>
		<button mat-flat-button color="primary" (click)="dialogOpen()">Vacation request</button>
	</div>
</div>