<div mat-dialog-title>
  <h2 >Add Task Links</h2>
  <mat-dialog-actions>
    <mat-icon aria-hidden="false" mat-dialog-close>close</mat-icon>
  </mat-dialog-actions>
</div>

<mat-dialog-content class="mat-typography">
  <div class="asana">
    <div class="image">
      <img src="../../../../assets/image/asana.svg" alt="asana">
    </div>

    <input matInput placeholder="Asana link" [(ngModel)]="asanaLink" (change)="asanaUpdate()">

    <a [href]="asanaLink" class="image active" *ngIf="asanaLink">
      <mat-icon aria-hidden="false" mat-dialog-close>open_in_new</mat-icon>
    </a>
    <div class="image" *ngIf="!asanaLink">
      <mat-icon aria-hidden="false">open_in_new</mat-icon>
    </div>
  </div>

  <div class="bitbucket">
    <div class="image">
      <img src="../../../../assets/image/bitbucket.svg" alt="bitbucket">
    </div>

    <input matInput placeholder="Bitbucket link" value="" [(ngModel)]="bitbucketLink" (change)="bitbucketUpdate()">

    <a [href]="bitbucketLink" class="image active" *ngIf="bitbucketLink">
      <mat-icon aria-hidden="false" mat-dialog-close>open_in_new</mat-icon>
    </a>
    <div class="image" *ngIf="!bitbucketLink">
      <mat-icon aria-hidden="false">open_in_new</mat-icon>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Save</button>
</mat-dialog-actions>