:host {
	$header-size: 2rem;

	.mat-icon {
		cursor: pointer;
	}

	.mat-dialog-title {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0;

		h2 {
			display: flex;
			align-items: center;
			height: $header-size;
			margin: 0;
			font-weight: 500;
			font-size: var(--font-size-s);
		}

		.mat-dialog-actions {
			display: flex;
			align-items: center;
			height: $header-size;
			min-height: 0;
			padding: 0;
			.mat-icon {
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
		}
	}

	.asana,
	.bitbucket {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: var(--offset-xs) 0;

		input {
			margin-right: var(--offset-s);
			padding: calc(0.625 * var(--offset)) var(--offset-s);
			font-size: var(--font-size-s);
			border: 1px solid var(--accent-200);
			border-radius: var(--border-radius-xs);
			&:focus {
				border: 1px solid var(--accent-300);
			}
		}

		img {
			margin-right: var(--offset-s);
		}

		.image {
			display: flex;
			.mat-icon {
				color: var(--accent-100);
			}
			&.active {
				.mat-icon {
					color: var(--accent-300);
				}
			}
		}
	}
}

::ng-deep {
	.mat-dialog-container {
		width: 100%;
		overflow: hidden;
	}

	.cdk-overlay-dark-backdrop {
		background: none;
	}
}
