@import 'mixins/common-mixin';
:host {
	.container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		max-height: 100%;
		margin-bottom: 1rem;
		overflow-y: auto;
		border: 1px solid var(--light-gray);
		border-radius: 8px;
	}

	.month-name {
		@include flex-center;
		padding: 8px 0;
		background-color: var(--accent-50);
	}

	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: var(--light-black);
		font-weight: 500;
		font-size: var(--font-size-s);
	}
}
